html,body{
    margin: 0;
    padding: 0;
}

.app{
    text-align: center;
}

.title-container{
    border-bottom: 1px solid blue;
}

.contact{
    border-bottom: 1px dashed black;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:500px) {
    .contact{
        display: block;
    }
}

.contact:hover{
    transform: scale(1.05);
}


.repo-link{
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    transition: transform 0.25s ease-out;
    opacity: 0.5;
    margin: 5px;

}

.repo-link:hover{
    opacity: 1;
}

.repo-link img{
    height: 5vh;
    border-radius: .5em;
}